extends default
block variables         
   - var allCourses = all_courses

block content
    script.
        let course = !{JSON.stringify(course)};
        let participation_info = !{JSON.stringify(participation_info)};
        let timeline_info = !{JSON.stringify(timeline_info)};
        let grades_info = !{JSON.stringify(grades_info)};
        let week_info = !{JSON.stringify(week_info)};
        let box_plot_info = !{JSON.stringify(box_plot_info)};
        let click = false;

        function drawALL() {
            
            draw_C_activities_dist();
            draw_C_weekly_percentage();
            //draw_C_participation_on_course();
            draw_C_timeline_on_course();
            draw_C_evaluations();
            drawOption(); 
        }

        function drawOption(){
            if(!click){
                draw_C_participation_on_course();
            }
            else{
                drawPieChartCourse();
            }
        }

        function clicked(){
            click = !click;   
            drawOption();   
        }
    
    div(class="content")
        p Course: #{course.name}
        div(class="grid-container")
            div(id="weekly_plot")

            div(id="joinedHistogramCourse")
                button(id="myBtn2" class="open" onclick="clicked()") Alternate Graph
                div(id="participation_on_course_plot")
            
            div(id="type_plot")
            div(id="evaluations_plot")
            div(id="timeline")
                h5 Course timeline
                ul#legend
                    li
                        span.legend1
                        |  Percentage of students who completed the task
                    li
                        span.legend2
                        |  Percentage of students who did not complete the task
                div(id="timeline_on_course_plot")
            
 
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript" src="javascript/chartsGoogle.js")
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/modal.css')
        

