extends default
block variables         
   - var allCourses = all_courses
   
block content
    script.
        let percentages_data = !{JSON.stringify(percentages_data)};
        let grades_data = !{JSON.stringify(grades_data)};
        let students_courses = !{JSON.stringify(students_courses)};
        let weekly_activities = !{JSON.stringify(weekly_activities)};
        let indicators = !{JSON.stringify(indicators)};
        let student = !{JSON.stringify(student)};
        let timeline_info = !{JSON.stringify(timeline_info)};
        let proposed_act = !{JSON.stringify(proposed_act)};

        
        function drawALL() {
            draw_S_activities_in_timeline();
            drawTimelineDisplay();
            draw_S_Percentages();
            draw_S_GradesTable();
        }
    div(class="content")
        h2(style={'text-align': 'center'}) #{student.name}
        h5(style={'text-align': 'center', 'margin': 0}) Enrollment Regime: #{student.enrollmentRegime}
        p
        div(class="grid-container")
            div(id="actTimeline")
                h5(style='margin-top:0%') Activities timeline
                div(id="act_plot")
            div(id="timeline_plot")
            div(id="plotplot")
                div(id="percentages_plot" style={'grid-row-start': 1, 'grid-column-start': 2})
                ul#legend
                    li
                        span.legend3
                        | Course statistics the student is enrolled in
                    li
                        span.legend4
                        |  #{student.name}

            div(id="grades_plot" style={'grid-row-start': 2, 'grid-column-start': 1})

    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript" src="javascript/chartsGoogle.js")
        

